
        @{
            ViewBag.Title = "_MasterPage";
        }

       
        <head>
            <title>@ViewBag.Title-Library Management Online</title>
            <link rel="stylesheet" href="~/Content/_Style.css" type="text/css" />
        </head>
        <body>
            <div class="navbar" style="color:darkseagreen">
                <ul>
                    <li class="list">
                        @Html.ActionLink("Sign Up", "Signup", "Account")
                    </li>
                    
                    <li class="list">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Logout", "LogOut", "Account", " ", new { @class = "LinkColor" })
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Account", " ", new { @class = "LinkColor" })
                        }

                        @if (HttpContext.Current.User.IsInRole("Admin"))
                        {

                            @Html.ActionLink("AddBook ", "Create", "Book", " ", new { @class = "LinkColor" })
                            @Html.ActionLink("Books ", "BookDetails", "Book", " ", new { @class = "LinkColor" })
                            @Html.ActionLink("Addcategory ", "AddCategory", "Category", " ", new { @class = "LinkColor" })
                            @*@Html.ActionLink("ViewUser", "ViewUser", "Admin", "", new { @class = "LinkColor" })*@
                        }
                        @if (HttpContext.Current.User.IsInRole("User"))
                        {
                            @Html.ActionLink("Categories", "CategoryDetails", "Category", "", new { @class = "LinkColor" })
                            @Html.ActionLink("Books", "BookDetails", "Book", "", new { @class = "LinkColor" })
                        }
                    </li>
                </ul>
            </div>
            <div>
                @RenderBody()
            </div>
        </body>


