@model LibraryManagement.Models.LoginViewModel

@*@{
    ViewBag.Title = "Login";
   
}
  <!DOCTYPE html>
    <html>
    <head>
        <link href="~/Content/_Style.css" rel="stylesheet" />

    </head>
<body>

<h2 style="text-align:center">Login</h2>
<style>
    .button {
        background-color: crimson;
    }
    .box {
        border: 5px solid blanchedalmond;
        display: inline-block;
        text-align: center;
        flood-color:red;
    }
    div {
        text-align: center;
    }

    p {
        text-emphasis-color:cyan;
        text-align: center;
    }
    span {
        text-align: center;
        color: red;
    }
</style>
@model MobileShopping.Models.LoginModel*@

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/UserStyleSheet.css" rel="stylesheet" />
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="LoginPage">
    <img src="~/Content/icons8-account-30.png" class="loginImage" />
    <h1 class="LoginTitle">Login Here</h1>
    <div class="LblLogin">@Html.LabelFor(model => model.EmailId)</div>
    <div class="TxtLogin">@Html.TextBoxFor(model => model.EmailId)</div>
    <div class="ValidateLogin">@Html.ValidationMessageFor(model => model.EmailId)</div>
    <div class="LblLogin">@Html.LabelFor(model => model.Password)</div>
    <div class="TxtLogin">@Html.PasswordFor(model => model.Password, new { @maxlength = "16" })</div>
    <div class="ValidateLogin">@Html.ValidationMessageFor(model => model.Password)</div>
    <div class="Submit"><input type="submit" value="Login" /></div>
    <div class="ForgotPassword">@Html.ActionLink("Forgot Password?", "SignUp", "Account", null, new { @class = "Link" })</div>
    <div class="RegisterUser">@Html.ActionLink("New User? Register", "SignUp", "Account",null,new { @class = "Link"})</div>
</div>
}
