@model LibraryManagement.Entity.Account

@{
    ViewBag.Title = "Login";
}

<h2 style="text-align:center">Login</h2>

<style>
    body {
        background-color: azure;
    }

    .button {
        background-color: crimson;
    }

    div {
        //border: 1px solid black;
        padding: 5px;
        width: 5%;
        background-color: burlywood;
        line-height: 15px;
        padding-left:980px;
    }

    p {
        text-align: center;
    }

    span {
        color: red;
    }
</style>


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>


        <p>
            @Html.LabelFor(Model => Model.EmailId)

            @Html.TextBoxFor(Model => Model.EmailId)<span> @Html.ValidationMessageFor(Model => Model.EmailId)</span>
        </p>

        <p style="text-align:center">
            @Html.LabelFor(Model => Model.Password)

            @Html.TextBoxFor(Model => Model.Password)<span> @Html.ValidationMessageFor(Model => Model.Password)</span>
            <input type="submit" />
        </p>
        <p> Don't have an account?? @Html.ActionLink("SignUp", "Signup", "Account")</p>
    </div>
}

@*align="center" style="border-bottom-color:burlywood"*@