@model LibraryManagement.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
   
}
  <!DOCTYPE html>
    <html>
    <head>
        <link href="~/Content/_Style.css" rel="stylesheet" />

    </head>
<body>

<h2 style="text-align:center">Login</h2>
<style>
    .button {
        background-color: crimson;
    }
    .box {
        border: 5px solid blanchedalmond;
        display: inline-block;
        text-align: center;
        flood-color:red;
    }
    div {
        text-align: center;
    }

    p {
        text-emphasis-color:cyan;
        text-align: center;
    }
    span {
        text-align: center;
        color: red;
    }
</style>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="box">
        <p>
            @Html.LabelFor(Model => Model.EmailId)
            @Html.TextBoxFor(Model => Model.EmailId)
            <span> @Html.ValidationMessageFor(Model => Model.EmailId)</span>
        </p>
        <p>
            @Html.LabelFor(Model => Model.Password)
            @Html.TextBoxFor(Model => Model.Password)
            <span> @Html.ValidationMessageFor(Model => Model.Password)</span>
        </p>
        <div>
            <input type="submit" style="border-color:cadetblue" />
            <p> Don't have an account?? @Html.ActionLink("SignUp", "Signup", "Account")</p>
        </div>

    </div>
}
    </body>
</html>
