@model LibraryManagement.Entity.Book

@{
    ViewBag.Title = "Edit";
}

<style>

    table, th, td {
        border: 1px solid black;
        padding: 15px;
        width: 10px;
    }

    input[type="text"] {
        border: none;
        padding: 10px;
    }
</style>

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.BookId);
    <table>
        <tr>
            <td> Name : </td>
            <td>@Html.TextBoxFor(Model => Model.Name)</td>
        </tr>
        <tr>
            <td>Author : </td>
            <td>@Html.TextBoxFor(Model => Model.Author)</td>
        </tr>
        <tr>
            <td>Subject: </td>
            <td>
                @Html.TextBoxFor(Model => Model.Subject)
                        @Html.DropDownListFor(Model => Model.BookId, ViewBag.Categories as IEnumerable<SelectListItem>)
                    </td>
        </tr>
        
        <tr>
            <td>
                <input type="submit" value="Update" />
            </td>
            <td><a href="Create">Back</a></td>
        </tr>
    </table>
}

